.centering {
    text-align: center;
}

.form-input-name {
    margin: 2em 1em 1em 1em;
    border: 0;
    border-radius: 5px;
    padding: 5px;
}

.form-input-submit {
    background: yellow;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    color: red;
    padding: 5px;
    transition: .3s;
    border: 1px solid yellow;
}

.form-input-submit:focus {
    outline: 0;
}

.form-input-submit:hover {
    border: 1px solid red;
}