* {
    margin: 0;
    padding: 0;

}


.bg-color {
    color: white;
    width: 100%;
    height: max-content;
    background: rgb(180, 222, 255);
    background: linear-gradient(180deg, rgba(180, 222, 255, 1) 0%, rgba(71, 174, 255, 1) 50%, rgba(0, 81, 145, 1) 100%);;

}

.black-bg-color {
    /*border: 1px solid gray;*/
    color: grey;
    background: black;
    border-radius: 0.5rem;
}

.black-bg-color-without-border {

    color: grey;
    background: darkslategray;

}

.app-name-black-bg-color {
    border: 1px solid gray;
    color: grey;
    background: black;
    border-radius: 0.5rem;
}

.main-top-app-name {
    background: -webkit-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    background: -o-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    background: -moz-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    position: relative;
}

.card {
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
    font-weight: 800;
    height: 1em;
    width: 100vw;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    display: table-cell;
    vertical-align: middle;
    letter-spacing: -2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /*color: #fff;*/
}

.card-holder {
    margin: 0 2em 0 2em;
    padding-top: 2em;

}

.left-col-bg {
    font-family: 'Open Sans', sans-serif;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    margin-top: 2em;
    border-radius: 0.5em;
    height: auto;
    font-weight: 800;
    color: white;
}

.cols-height {
    width: 100%;
    height: 27em;
    margin-bottom: 2em;
}

.ymaps-size {
    width: 100%;
    height: 26em;
    border-radius: 0.5em;
}

.yin-yang-tumbler, .white-yin-yang-tumbler {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    border-radius: 50px;
}

.yin-yang-tumbler {
    fill: black;
    background: white;
    transition: .5s;

}

.yin-yang-tumbler:hover {
    /*fill: red;*/
    background: white;
    transform: rotate(360deg);
}

.white-yin-yang-tumbler {
    fill: white;
    background: black;
    transition: .5s;
}
.white-yin-yang-tumbler:hover {
    fill: white;
    background: black;
    transform: rotate(360deg);
}

#color_toggle3, #color_toggle5 {
    margin-top: 2em;
}

#color_toggle5 {
    padding: 5px;
}