* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;

}

body{
   background: #55b9f3;
}

.bg-color {
    color: white;

}

.main-top-app-name {
    border-radius: 10px;
    background: linear-gradient(145deg, #4da7db, #5bc6ff);
    box-shadow:  5px 5px 10px #489dcf,
    -5px -5px 10px #62d5ff;
    padding: 1rem;
}

.card-holder {
    margin: 0 2em 0 2em;
    padding-top: 2em;

}

.cols-bg {
    background: linear-gradient(145deg, #4da7db, #5bc6ff);
    height: 27em;
    color: white;
    border-radius: 10px;
    box-shadow:  5px 5px 10px #489dcf,
    -5px -5px 10px #62d5ff;
    padding: .25rem;
}

.maps-size {
    width: 100%;
    height: 26em;

}
.ymaps-2-1-76-map{
    border-radius: 10px;
}
